@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap");

html {
  padding: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

html::-webkit-scrollbar {
  display: none;
}

/* #b43c51 Dark red*/

* {
  margin: 0px;
  border-radius: 18px;
  /* background-color: #ebc941; */
  color: #27272a;
  border-color: #27272a;
  padding: 5px;
  font-family: "Share Tech Mono", monospace, sans-serif;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

body {
  background-color: hsl(48, 81%, 59%);
  min-width: 310px;
  padding: 0px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

p {
  margin: 5px;
}

button {
  background-color: transparent;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
}

/* Grid */

#grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 2fr 3fr 3fr;
  height: 100vh;
  padding: 0px;
  justify-content: center;
  align-content: center;
  border-radius: 0px;
}

#left-area {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  justify-content: center;
  align-items: end;
}

#right-area {
  display: grid;
  grid-area: 1 / 3 / 2 / 4;
  justify-content: center;
  align-items: end;
}

#header-area {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  justify-content: center;
  align-items: end;
}

#game-area {
  grid-area: 2 / 1 / 3 / 4;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#scores-area {
  grid-area: 3 / 2 / 4 / 3;
  text-align: center;
  align-content: center;
  justify-content: center;
}

/* Elements */

#heading {
  text-align: center;
  max-width: 320px;
}

#dark-toggle {
  visibility: hidden;
}

#player {
  margin: 10px;
}

#playing-grid {
  margin: 15px;
}

#reset {
  margin: 5px;
}

/* Classes */

.dark {
  border-color: #f3f8f6;
  color: #f3f8f6;
}

.dark-background {
  background-color: #27272a;
}

.symbol {
  font-family: "Noto Sans Symbols 2", sans-serif;
  padding: 15px;
  border: none;
  width: max-content;
}

/* Noughts and Crosses */

.square {
  width: 16vw;
  height: 18vw;
  max-width: 63px;
  max-height: 70px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  color: transparent;
  margin: 5px;
}

.hover {
  color: #27272a;
}

.O {
  background-color: #4caf50;
  border-color: #4caf50;
  color: #27272a;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.X {
  background-color: #b35c7d;
  border-color: #b35c7d;
  color: #27272a;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Memory Game */

#memory-grid {
  display: flex;
  margin: 15px;
  max-width: 320px;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  object-fit: cover;
}

.card-border {
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  padding: 0px;
  width: 16vw;
  height: 18vw;
  max-width: 63px;
  max-height: 70px;
  margin: 5px;
}

.card {
  width: 16vw;
  height: 18vw;
  padding: 0px;
  border-radius: 5px;
  max-width: 63px;
  max-height: 70px;
  opacity: 0;
  transition: opacity 0.2s
}

.show {
  opacity: 1;
}

@media only screen and (min-width: 781px) {
  /* Grid */

  #grid-container {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 2fr 3fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #left-area {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    justify-content: end;
    align-items: center;
  }

  #right-area {
    display: grid;
    grid-area: 2 / 3 / 3 / 4;
    justify-content: start;
    align-items: center;
  }

  #dark-area {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    justify-content: start;
    align-items: center;
  }

  #header-area {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    justify-content: center;
    align-items: end;
  }

  #game-area {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #scores-area {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  #heading {
    max-width: 350px;
  }

  h1 {
    font-size: 35px;
  }

  #dark-toggle {
    visibility:visible;
    font-size: 30px;
  }
}