html {
  padding: 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}


* {
  margin: 0px;
  border-radius: 18px;
  background-color: #ebc941;
  padding: 5px;
  font-family: "Share Tech Mono", monospace, sans-serif;
}

#grid-container {
  display: grid;
  height: 100vh;
  padding: 0px;
  justify-content: center;
  align-content: center;
}

body {
  display: grid;
  min-width: 310px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.heading {
  text-align: center;
  max-width: 320px;
}

h1 {
  font-size: 28px;
}

.game {
  text-align: center;
}

#player {
  margin: 10px;
}

h2 {
  font-size: 18px;
}

p {
  margin: 5px;
}

#playing-grid {
  margin: 15px;
}

button {
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  color: black;
}

.square {
  width: 16vw;
  height: 18vw;
  max-width: 63px;
  max-height: 70px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  color: transparent;
  margin: 5px;
}

.hover {
  color: black;
}

.O {
  background-color: #4caf50;
  border-color: #4caf50;
  color: black;
}

.X {
  background-color: #b35c7d;
  border-color: #b35c7d;
  color: black;
}

#reset {
  margin: 5px;
}

@media only screen and (min-width: 781px) {

  h1 {
    font-size: 35px;
  }
}
